@model PhotographersVideoDist.Models.Case

@{
    ViewData["Title"] = "Slet sag";
}

<h2>Sags nr. @Model.CaseID</h2>

<h3>Er du sikker på du vil slette denne sag?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.PhotographerID)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Photographer.UserName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CaseID" />
        <input type="submit" value="&#xf2ed Slet" class="btn btn-danger fa-input-field fa-lg" /> |
        <a asp-action="Index" class="btn btn-danger fas fa-undo-alt fa-lg"> Fortryd</a>
    </form>
</div>
