@model PhotographersVideoDist.Models.Case

@{
    ViewData["Title"] = "Vis sag";
}

<h4>Sags nr. @Model.CaseID</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <h6><label asp-for="Titel"></label></h6>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>@Model.Titel</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h6><label asp-for="Details"></label></h6>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>@Model.Details</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h6><label asp-for="Comments"></label></h6>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>@Model.Comments</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h6><label asp-for="Street"></label></h6>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>@Model.Street</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <h6><label asp-for="Postal.PostalCode"></label></h6>
    </div>
    <div class="col-md-4">
        <h6><label asp-for="Postal.Town"></label></h6>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <p>@Model.Postal.PostalCode</p>
    </div>
    <div class="col-md-4">
        <p>@Model.Postal.Town</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h6><label asp-for="Published"></label></h6>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>@Model.Published</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h6><label asp-for="PhotographerID"></label></h6>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>@Model.Photographer.UserName</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <hr />
        @if ((await AuthorizationService.AuthorizeAsync(User, Model, AuthorizationOperations.Update)).Succeeded)
        {
            <a asp-action="Edit" asp-controller="Cases" asp-route-caseID="@Model.CaseID" class="btn btn-primary">Rediger</a>
            <text> | </text>
        }
        <a asp-action="Index" class="btn btn-primary">Oversigt</a>
        <hr />
    </div>
</div>
