@model PaginatedList<PhotographersVideoDist.Models.Case>

@{
    ViewData["Title"] = "Sags oversigt";
}

<h1>Sags oversigt</h1>

@if ((await AuthorizationService.AuthorizeAsync(User, new Case(), AuthorizationOperations.Create)).Succeeded)
{
    <p>
        <a asp-action="Create">Opret ny sag</a>
    </p>
}

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Titel)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CaseID">Detaljer</a>

                    @if ((await AuthorizationService.AuthorizeAsync(User, item, AuthorizationOperations.Update)).Succeeded)
                    {
                        <br />
                        <a asp-action="Edit" asp-route-id="@item.CaseID">Rediger</a>
                    }

                    @if ((await AuthorizationService.AuthorizeAsync(User, item, AuthorizationOperations.Upload)).Succeeded)
                    {
                        <br />
                        <a asp-action="AssetsUpload" asp-route-id="@item.CaseID">Upload Assets</a>
                    }

                    @if ((await AuthorizationService.AuthorizeAsync(User, item, AuthorizationOperations.Delete)).Succeeded)
                    {
                        <br />
                        <a asp-action="Delete" asp-route-id="@item.CaseID">Slet</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Forrige
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Næste
</a>